[submodule "modules/bgen/deps/cmd_args"]
	path = modules/bgen/deps/cmd_args
	url = https://github.com/lucianodasilva/cmd_args.git
[submodule "modules/bgen_core/deps/GSL"]
	path = modules/bgen_core/deps/GSL
	url = https://github.com/Microsoft/GSL.git
